* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #2F4F4F;
  text-align: center;
}

header {
  height: 80px;
}

.navleft {
  height: 100%;
  width: 50%;
  background-color: #080808;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navleft h1 {
  color: red;
  font-family: arial;
  font-size: 30px;
  margin-left: 10%;
}

.navright {
  height: 100%;
  width: 50%;
  background-color: #080808;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navright i {
  height: 60%;
  width: 50px;
  font-size: 30px;
  padding-top: 10px;
  background-color: white;
  color: lightgrey;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.navright i:hover {
  cursor: pointer;
}

.searchbar {
  height: 60%;
  width: 15%;
  border: transparent;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#flag {
  height: 20px;
  width: 20px;
}

.container {
  height: calc(100% - 80px);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movies {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies div {
  margin: 20px 20px;
}

.television {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.television div {
  margin: 20px 20px;
}


/* .movies {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  width:  calc(100% - 80px);
} */

/* .movies {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.television {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
} */
