* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;

  background: rgb(24, 24, 27);
  background: linear-gradient(
    90deg,
    rgba(24, 24, 27, 1) 10%,
    rgba(82, 156, 98, 1) 30%,
    rgba(82, 134, 156, 1) 70%,
    rgba(24, 24, 27, 1) 90%
  );

  text-align: center;
}

header {
  height: 80px;
}

.text {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

#boolflix {
  cursor: pointer;
  margin-left: 10%;
  height: 50px;
}

.movies i {
  color: yellow;
}

.television i {
  color: yellow;
}

.navleft {
  height: 100%;
  width: 50%;
  background-color: #18181b;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navleft h1 {
  color: red;
  font-family: arial;
  font-size: 30px;
  margin-left: 10%;
}

.navright {
  height: 100%;
  width: 50%;
  background-color: #18181b;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navright i {
  height: 60%;
  width: 50px;
  font-size: 30px;
  padding-top: 10px;
  /* background-color: white; */
  color: lightgrey;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.navright i:hover {
  cursor: pointer;
}

.searchbar {
  height: 45px;
  width: 235px;
  border: transparent;
  outline: none;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

#flag {
  height: 40px;
  width: 40px;
}

.fa-star {
  font-size: 20px;
}

.container {
  height: calc(100% - 80px);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.immagine {
  min-height: 513px;
  min-width: 342px;
  max-height: 513px;
  max-width: 342px;
}

.movies div {
  margin: 20px 20px;
}

.television {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.television div {
  margin: 20px 20px;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.description > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.description:hover > * {
  transform: translateY(0);
}

.description:hover {
  opacity: 1;
}

.boximage {
  color: black;
  position: relative;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}

.boximage:hover {
  transform: scale(1.1);
}

.overview {
  width: 90%;
  height: 140px;
  overflow-y: scroll;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button > button {
  padding: 12px;
  border-radius: 50px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  height: 50px;
  width: 120px;
  opacity: 1;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: silver 1px solid;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}
.details,
.button {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
