<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js "></script>
  </head>
  <body>

    <div id="app">
      <nav class="navleft">
        <h1>BOOLFLIX</h1>
      </nav>

      <nav class="navright">
        <input class="searchbar" v-model="message" @keyup.enter="addfilm" placeholder="Search Film">
        <i class="fas fa-search" @click="addfilm"></i>
      </nav>
      <div class="container">


        <div v-for="poster in film">

          <div class="films">
            <p>
            {{poster.title}}
            <br>
            {{poster.original_title}}
            <!-- {{getScore(poster.vote_average)}} -->
            <!-- {{poster.vote_average}} -->
              <div>
              <i v-for="(star, index) in 5" class="fa-star" :class="(index < Math.round(poster.vote_average / 2))?'fas':'far'"></i>
              </div>

              <!-- <div v-if="poster.vote_average === 0">
              <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
              </div> -->

              <!-- <div v-else-if="poster.vote_average > 0.4 && poster.vote_average < 2">
              <i class="fas fa-star"></i></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
              </div>

              <div v-else-if="poster.vote_average > 2.4 && poster.vote_average < 4 || poster.vote_average > 3.4 && poster.vote_average < 5">
              <i class="fas fa-star"></i></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
              </div>

              <div v-else-if="poster.vote_average > 4.4 && poster.vote_average < 6 || poster.vote_average > 5.4 && poster.vote_average < 7">
              <i class="fas fa-star"></i></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
              </div>

              <div v-else-if="poster.vote_average > 6.4 && poster.vote_average < 8 || poster.vote_average > 7.4 && poster.vote_average < 9">
              <i class="fas fa-star"></i></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
              </div>

              <div v-else-if="poster.vote_average > 8.4 && poster.vote_average < 10 || poster.vote_average > 9.4 && poster.vote_average <= 10">
              <i class="fas fa-star"></i></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </div> -->

              <!-- {{poster.original_language}} -->
              <div v-if="poster.original_language === 'en'">
              <img id="flag" src="file:///C:/Users/Matt/AppData/Local/Temp/united-kingdom.svg" alt="">
              </div>

              <div v-if="poster.original_language === 'ja'">
              <img id="flag" src="https://www.flaticon.com/svg/static/icons/svg/197/197604.svg" alt="">
              </div>

              <div v-if="poster.original_language === 'de'">
              <img id="flag" src="https://www.flaticon.com/svg/static/icons/svg/197/197571.svg" alt="">
              </div>

              <div v-if="poster.original_language === 'fr'">
              <img id="flag" src="https://www.flaticon.com/svg/static/icons/svg/197/197560.svg" alt="">
              </div>

              <div v-if="poster.original_language === 'pt'">
              <img id="flag" src="https://www.flaticon.com/svg/static/icons/svg/197/197463.svg" alt="">
              </div>

              <div v-if="poster.original_language === 'es'">
              <img id="flag" src="https://www.flaticon.com/svg/static/icons/svg/197/197593.svg" alt="">
              </div>

              <div v-if="poster.original_language === 'ru'">
              <img id="flag" src="https://www.flaticon.com/svg/static/icons/svg/197/197408.svg" alt="">
              </div>

              <div v-if="poster.original_language === 'ko'">
              <img id="flag" src="https://www.flaticon.com/svg/static/icons/svg/197/197582.svg" alt="">
              </div>

            </p>
          </div>

        </div>

        <!-- <div v-for="posterdue in tvseries">

        </div> -->

      </div>
    </div>


    <script src="js/myscript.js"></script>
  </body>
</html>
